body {
    background: rgb(244, 244, 244);
}
#visor {
    border: #ffffff;
    border:0px;
    color: rgb(78, 78, 78);
    text-align: right;
    padding: 20px;
    font-size: 12px; 

}
#resultado {
    border: #ffffff;
    border:0px;
    color: #000000;
    text-align: right;
    padding: 40px;
    font-size: 20px; 


}
.corpo{
    display: inline-block;
    padding-left: 20px;
    padding-top: 50px;
    background-color: #ffffff;
    border-radius: 30px;
}
.num{
    width:50px;
    height: 50px;
    border:0px;
    color: #b2b2b2;
    background-color:#ffffff;
    font-size: 25px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin-bottom: 5px;

    /* width: 100%;
    border: solid #ffffff 1px;
    font-size: 20px;
    font-color: #bcbcbc;
    margin-bottom: 5px; */
}
.oper{
    width:50px;
    height: 50px;
    border:0px;
    color: #ff718f;
    background-color:#ffffff;
    font-size: 25px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin-bottom: 5px;
}
.oper2{
    width:70px;
    height: 50px;
    border:0px;
    color: #201e1e;
    background-color:#ffffff;
    font-size: 25px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin-bottom: 5px;

    /* font-size: 13;
    width: 33px;
    height: 35px;
    background-color: #947a7a;
    padding: 9px 50px;
    border: none;
    color: white; */
    
} 
.igual{

    background-color: #ff6f6f;
    border: none;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;

    /* width:40px;
    height: 60px;
    border:0px;
    color: #b2b2b2;
    background-color:#ff6f6f;
    font-size: 25px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin-bottom: 20px;
    border-radius: 30px */
}